<main>
  <h1>Mentions Légales</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam corrupti, in, veritatis quaerat, dolorem ab dolorum dignissimos nesciunt odit ratione deleniti saepe voluptatem? Pariatur consequatur accusamus nam nemo temporibus ratione?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto atque repellat velit ipsum ab excepturi vel, eos nisi voluptas nobis iure voluptatibus hic vero eum asperiores qui reprehenderit. Nulla, culpa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto atque repellat velit ipsum ab excepturi vel, eos nisi voluptas nobis iure voluptatibus hic vero eum asperiores qui reprehenderit. Nulla, culpa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto atque repellat velit ipsum ab excepturi vel, eos nisi voluptas nobis iure voluptatibus hic vero eum asperiores qui reprehenderit. Nulla, culpa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto atque repellat velit ipsum ab excepturi vel, eos nisi voluptas nobis iure voluptatibus hic vero eum asperiores qui reprehenderit. Nulla, culpa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto atque repellat velit ipsum ab excepturi vel, eos nisi voluptas nobis iure voluptatibus hic vero eum asperiores qui reprehenderit. Nulla, culpa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto atque repellat velit ipsum ab excepturi vel, eos nisi voluptas nobis iure voluptatibus hic vero eum asperiores qui reprehenderit. Nulla, culpa.</p>
</main>
